.container3{
    width:50%;
    background-color: grey;
}

table, tr, td {
   
    border-collapse: collapse;
    padding: 10px;
    font-weight: 700;
    border:2px solid white;
    
  }

  .heading{
    color:white;
    font-size: larger;
    font-weight: 800;
    background-color: black;
  }
  .sky{
    background-color: rgb(122, 214, 214);
  }
  .aqua{
    background-color:aqua;
  }
  .pink{
    background-color: palevioletred;
  }

  /* media query */

  @media screen and (max-width:723px) {
    .task-2{
        position: absolute !important;
        bottom: -190px !important;
    }
    .container3{
        width:100% !important;
        background-color: grey;
    }
  }